@font-face {
    font-family: 'NetflixMedium';
    src: url(../fonts/NetflixSans-Medium.otf), url("/assets/fonts/NetflixSans-Medium.otf") format("otf");
    font-display: swap;
}

* {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
    font-family: 'NetflixMedium';
}

body {
    background-color: #2A2634;
    width: 100vw;
    height: 100vh;
}

nav {
    color: #FFF;
    font-size: 3.2vmin;
    font-weight: bold;
    width: 100%;
    height: 10%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;

    span {
        color: transparent;
        background-image: linear-gradient(90deg, #9572fc, #43e7ad 50%, #e1d55d);
        background-clip: text;
    }
}

main {
    width: 100vw;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    .profiles {
        display: flex;
        flex-direction: row;
        justify-content: center;

        .card-profiles,
        .card-add-profiles {
            width: 200px;
            height: 200px;
            border-radius: 4px;
            // background: url("https://pbs.twimg.com/card_img/1577559080113410048/MZoGA8xS?format=png&name=360x360");
            background-size: cover;
            margin: 16px;
            cursor: pointer;
        }

        .card-add-profiles {
            background: url("https://pbs.twimg.com/profile_images/1567906020831150081/oJ7mKaaj_400x400.jpg");
            background-size: cover;
        }

        .card-profiles:hover {
            border: 4px solid #43e7ad;
        }

        .card-add-profiles:hover {
            border: 4px solid #9572fc;
        }

        .card-notes {
            font-size: 1.8vmin;
            width: 100%;
            text-align: center;
            margin-top: 12px;
            color: rgba(256, 256, 256, 0.8);
        }
    }
}

.menu-open {
    width: 30%;
    height: 65%;
    border: 4px solid #9572fc;
    border-radius: 8px;
    background-color: #2A2634;
    position: absolute;
    z-index: 1;
    visibility: visible;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    // box-shadow: 100px 100px 1000px 1000px #9572fc;

    input,
    button {
        font-size: 1.6vmin;
        width: 85%;
        height: 10%;
        padding: 8px;
        border-radius: 8px;
        outline: none;
        visibility: visible;
        position: relative;
    }

    button {
        background-color: #9572fc;
        color: #FFF;
    }
}

input,
button {
    position: absolute;
    visibility: hidden;
}

.profiles-row {
    display: flex;
    flex-direction: row;
    width: 100vw;
} 